PORT=3000
GITHUB_WEBHOOK_SECRET=
POSTGRES_PASSWORD=
DATABASE_URL=postgres://postgres:${POSTGRES_PASSWORD}@localhost:5432/postgres
REDIS_URL=redis://localhost:6379
GITHUB_APP_ID=5049074
GITHUB_APP_KEY_PATH=./github-app.pem
